<% layout("layouts/boilerplate") -%>
<body>
  <form action="/listings/new" method="get">
    <h4>Create new listing</h4>
    <button>Create</button>
  </form>
  <h3>Listings !!!</h3>

  <ul>
    <% for(listing of allListings){ %>
    <li><a href="/listings/<%=listing.id%>"><%=listing.title%></a></li>
    <% } %>
  </ul>
</body>
