<% layout("layouts/boilerplate") -%>

<body>
  <form action="/listings" method="POST">
    <h3>Create new Listings !!!</h3>
    <br /><br />
    <input type="text" placeholder="enter title" name="listing[title]" />
    <br /><br />
    <textarea
      name="listing[description]"
      placeholder="enter description"
    ></textarea>
    <br /><br />
    <input
      type="text"
      placeholder="enter image URL/Link "
      name="listing[image]"
    /><br /><br />
    <input
      type="number"
      placeholder="enter price"
      name="listing[price]"
    /><br /><br />
    <input
      type="text"
      placeholder="enter location"
      name="listing[location]"
    /><br /><br />
    <input
      type="text"
      placeholder="enter country"
      name="listing[country]"
    /><br /><br />

    <button>Add</button>
  </form>
</body>
